.dropdown-container {
  position: relative;
}

.selected {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icons {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.list {
  position: absolute;
  width: 114px;
  height: 260px;
  left: -33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  background: white;
  text-align: center;
}

.dropdown-menu {
  padding: 15px 0;
  cursor: pointer;
}

.dropdown-menu:hover {
  transform: scale(0.9);
  background: rgba(168, 172, 176, 0.19);
}