.slider {
  position: relative;
  display: flex;
  width: 100%;
}

.mini-image2 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mini-image2 img {
  height: 100%;
}

.indicator {
  position: absolute;
  bottom: 0;
  /* width: 100%; */
  right: 25%;
}
.indicator > img {
  margin-left: 8px;
}
