body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  background: white;
  z-index: 1;
}

.category {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.cart-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  position: relative;
  height: 100%;
  padding: 0 15px;
}

.num-of-items {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7%;
  right: 20%;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  background: black;
  color: white;
  font-weight: bold;
}

.currency {
  border: none;
}

.bag-img {
  width: 40%;
  display: flex;
  justify-content: center;
}

.bags {
  position: relative;
  left: 0;
  top: 0;
}

.bag {
  position: relative;
  top: 0;
  left: 0;
}

.arror-bag {
  position: absolute;
  top: 40%;
  left: 27%;
}

.arrow {
  position: absolute;
  top: 30%;
  right: 19%;
}

.active {
  color: #5ece7b;
  border-bottom: 3px solid #5ece7b;
}

.dropdown-container {
  position: relative;
}
.selected {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icons {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.list {
  position: absolute;
  width: 114px;
  height: 260px;
  left: -33px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  background: white;
  text-align: center;
}

.dropdown-menu {
  padding: 15px 0;
  cursor: pointer;
}

.dropdown-menu:hover {
  transform: scale(0.9);
  background: rgba(168, 172, 176, 0.19);
}

.item {
  padding: 15px 10px;
  cursor: pointer;
}

.product-card {
  width: 386px;
  height: 444px;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  display: block;
}

.image {
  width: 356px;
  height: 338px;
  padding: 16px 16px 0 16px;
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name,
.price {
  padding: 0 16px;
}

.price {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container {
  padding: 90px;
}

.category-container > h1 {
  padding: 30px 0;
}

.cart-hover {
  position: absolute;
  bottom: 0;
  right: 12%;
  background: #5ece7b;
  padding: 12px;
  border-radius: 20px;
  color: #fff;
  display: none;
  width: 20px;
  height: 20px;
}

.product-card:hover .cart-hover {
  display: block;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 80px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 325px;
  /* height: 100%; */
  background: #fff;
  float: right;
  margin-right: 80px;
}

.modal-content {
  display: flex;
  height: 40%;
}

.product-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 7px;
  justify-content: space-between;
  text-align: center;
}

.mini-image {
  width: 50%;
  height: 100%;
}

.mini-image img {
  width: 100%;
  height: 100%;
}

.mini-image2 {
  width: 100%;
  height: 100%;
}

.mini-image2 img {
  width: 100%;
  height: 100%;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.size {
  padding: 4px 8px;
  margin-right: 5px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  background: #fff;
  font-family: "Source Sans Pro";
}
.gauge {
  padding: 3px 7px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  background: #fff;
  font-family: "Source Sans Pro";
}

.gauge2 {
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  background: #fff;
  font-family: "Source Sans Pro";
  width: 45px;
  height: 45px;
}

.view-checkout {
  display: flex;
  justify-content: space-between;
  height: 43px;
}

.view,
.checkout {
  padding: 10px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  background: #fff;
  font-family: "Raleway", sans-serif;
  width: 48%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.view > button {
  padding: 10px;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout {
  background: #5ece7b;
  color: white;
  font-weight: bold;
  border: none;
}

.description-content {
  width: 1100px;
  height: 650px;
  display: flex;
  padding-top: 20px;
}

.img-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  height: 70%;
  margin-right: 15px;
}

.img-grid > img {
  height: 110px;
  width: 100%;
}

.main-img {
  margin-right: 15px;
  width: 650px;
  height: 650px;
}

.main-img > img {
  width: 100%;
  height: 100%;
}

.select-size,
.head {
  margin-bottom: 30px;
  font-weight: bold;
}

.brand {
  font-size: 30px;
}

.select-size > p {
  font-weight: 700;
}

.select-size div {
  display: flex;
  justify-content: space-between;
}

.select-size div button {
  border: 1px solid #1d1f22;
  background: #fff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 63px;
  height: 45px;
  letter-spacing: 0.05em;
  color: #a6a6a6;
}

.chosen {
  position: relative;
  cursor: pointer;
}

.tick {
  position: absolute;
  top: 0;
  right: 2px;
  color: green;
  font-weight: 700px;
  background: white;
  border-radius: 50%;
}

.price-label,
.cost {
  font-weight: 700;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  height: 52px;
  color: #fff;
  background: #5ece7b;
  border: none;
}

.description {
  padding-left: 30px;
}

.details {
  width: 292px;
  height: 115px;
  bottom: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  color: #1d1f22;
  overflow: scroll;
}

.stock-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
  height: 170px;
}

.rate2 {
  display: flex;
  text-align: center;
  width: 25%;
  padding: 0;
}

.cart-head {
  padding: 35px 0;
}

.rating {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.measure {
  border: 1px solid #1d1f22;
  background: #fff;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 63px;
  height: 45px;
  letter-spacing: 0.05em;
  color: #a6a6a6;
  margin-right: 15px;
}

.check-size {
  display: flex;
  flex-direction: row;
}

.my-bag {
  font-size: 20px;
  font-weight: bold;
}

.attr {
  display: flex;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70%;
}

.close-modal {
  color: #fff;
  font-size: 19px;
  float: right;
  margin-right: 25px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
}
